.event-dialog {
  display: flex;
  flex-direction: column;
  width: 25rem;
  background: var(--main-color);
  top: 0;
  left: auto;
  border-radius: 6px;
  border: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  z-index: 23;

  .event-card {
    box-shadow: none;
    background-color: var(--main-color);

    .bold {
      font-weight: bold;
    }
    .clickable-text{

      font-size:10px;
      width: 85px;

      float:right;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
    .end-date-trigger{
      margin:-20px 0 10px;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
    mat-card-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      mat-card-title {
        text-align: center;
        font-weight: bold;
      }
      mat-icon {
        cursor: pointer;
      }
    }

    mat-form-field {
      width: 100%;
      margin-bottom: 10px;
    }

    .field-group {
      display: flex;
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
    }
  }
  .hidden {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .event-dialog {
    height: 100vh; /* Fallback */
    width: 100vw; /* Fallback */
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }
  .fit-height {
    height: fit-content;
  }
}
