<div class="container">
  <div class="left">
    <img class="logo" src="https://getoutimages.blob.core.windows.net/symbol1/logo.png" alt="no img :*(" />
    <div class="button-group">
      <button mat-icon-button matTooltip="Events" matTooltipShowDelay="500"  (click)="onToggleSideBar()"> <mat-icon>menu</mat-icon></button>
      <button mat-icon-button matTooltip="Filter" matTooltipShowDelay="500"  (click)="onToggleFilter()"> <mat-icon>filter_alt</mat-icon></button>
      <button mat-icon-button matTooltip="Refresh" matTooltipShowDelay="500"  (click)="onRefresh()" [class.spin]="isSpinning"> <mat-icon class="refresh-icon">refresh</mat-icon></button>
      <button mat-icon-button matTooltip="New event" matTooltipShowDelay="500" class="new-event-btn" (click)="onToggleEventForm()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>
  <div class="right">
    <button [matBadge]="unseenNotifications()" [matBadgeHidden]="unseenNotifications()==0"  
    mat-icon-button matTooltip="Notifications" matTooltipShowDelay="1000"  [matMenuTriggerFor]="notifications" (menuClosed)="menuClosed()"> <mat-icon>notifications</mat-icon></button>
    <mat-menu   #notifications="matMenu" >
      @if(user().notifications.length>0){
        @for(notific of user().notifications;track $index){
          <div style="cursor:pointer; padding:10px;" (click)="onToggleEventDetails(notific.eventId)">
           <span [style]="{'font-weight':notific.read ? 'normal' : 'bold'}">{{notific.updateInfo}}{{" "}}</span>
           <i>- {{notific.updateStamp| timeText : "comment"}}</i>
          </div>}
      }@else {
        <div style="padding:10px">
          <span>No notifications</span>
        </div>
      }
      
    </mat-menu>
    <span class="username">
      hi {{ user().name }}!
    </span>
    <img  class="avatar" [src]="user().avatarUrl" alt="no img :*("  [matTooltip]="'a '+user().name" matTooltipShowDelay="500"/> <!-- [matMenuTriggerFor]="menu"-->
    <mat-menu class="menu" #menu="matMenu" >
      <div mat-menu-item (click)="onToggleLogin()">
        <mat-icon>login</mat-icon> <strong>Sign in</strong>
      </div>
      <div mat-menu-item (click)="onToggleRegister()">
        <mat-icon>person_add</mat-icon> <strong>Sign up</strong>
      </div>
    </mat-menu>
  </div>
</div>
