.container {
  position: absolute;
  padding: 10px;
  z-index: 20;
  right: 0;
  top: 0;
  border-bottom-left-radius: 30px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  background: var(--app-primary-container);
  color:var(--app-on-primary-container);
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    vertical-align: bottom;
    cursor: pointer;
  }

  .logo {
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }

  .username {
    vertical-align: text-bottom;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .spin .refresh-icon {
    display: inline-block;
    animation: spin 0.25s linear;
  }
}
.notification-container{
   padding: 10px;
   color: var(--app-on-primary-container);
 }
button {
  align-self: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .container {
    .username {
      display: none;
    }
    .avatar {
      margin-left: 0;
    }
  }
}
