.container {
  display: flex;
  justify-content: space-between;
  height: 30px;
  padding: 10px;
  background: rgba(48, 204, 212, 1);
  background: linear-gradient(
    170deg,
    rgba(210, 224, 251, 1) 0%,
    rgba(48, 204, 212, 1) 100%
  );

  button {
    align-self: center;
  }
  .username {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", sans-serif;
    font-size: 1.5rem; 
    font-weight: bold; 
  }
}

@media (max-width: 768px) {
  .container {
    .username {
      font-size: 1rem;
    }
  }
}
