.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  background: linear-gradient(
    170deg,
    var(--secondary-color) 0%,
    var(--accent-color) 100%
  );

  .left {
    display: flex;
  }
  .right{
    display:flex;
    align-items: center;
  }
  .avatar{
    width:40px;
    height:40px;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 5px;
  }
  .username {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
}

button {
  align-self: center;
  margin: 5px;
}

@media (max-width: 768px) {
  .container {
    .username {
      font-size: 1rem;
    }
    button{
      transform: scale(0.8);
      margin:0;
    }
  }
}
