.event-form {
  padding: 1rem;
  border-radius: 8px;

  h4 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  
  }

  .field-group{
    display:flex;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
  
  }
}

@media (max-width: 600px) {
  .event-form {
    padding: 0.5rem;
    width: 90%;

    .field-group{
      flex-direction: column;
    }
  }
}