.sidebar-container {
  max-height:80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom:10px; /* Ensure scroll only visible when necessary */
  overflow-y: auto; /* Ensure vertical scrolling with visible scrollbar */
  overflow-x: hidden;
  scrollbar-width: thin; /*For Firefox, makes scrollbar visible but thin */

  .sticky-title {
    background:var(--accent-color);
    width: 100%;
    position: sticky;
    top: 0; /* Stick at the top */
    z-index: 10; /* Ensure the title stays above content */
    padding: 0.5rem 0;
    font-weight: bold;
  }
  
  mat-label {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
