<div class="sidebar-container">
  <app-filter></app-filter>
  <div class="event-list-container">
    @defer(when showEvents()){ @if(events().length>0){
    <app-event
      (openDetails)="onOpenDetails($event)"
    ></app-event>

    } @if(events().length==0){
    <span class="placeholder-text">No events around here :(</span>
    } } @placeholder (minimum 500ms) {
    <ngx-skeleton-loader
      class="event-skeleton"
      count="5"
      [theme]="{ height: '75px', backgroundColor: 'var(--app-inverse-primary)' }"
    />
    }
  </div>
</div>
