<div (click)="onCloseDialog()" class="backdrop"></div>
<dialog open>
<div class="event">
    <span>{{event().title}}</span>
    <span>{{event().time | date:'medium'}}</span>
    <span>{{event().location}}</span>
    <span>{{event().participants.length}} / {{event().max}}</span>
    <span>{{event().info}}</span>
    @if (joined()) {
        <button (click)="onLeave()">Leave</button>
    }@else{
        <button (click)="onJoin()">Join</button>
    }
    <!--if owner-->
    <button (click)="onDelete()">Delete</button>
</div>
</dialog>