<div (click)="onCloseDialog()" class="backdrop"></div>
<dialog open class="event-dialog">
  <mat-card class="event-card">
    <mat-card-header>
      <mat-card-title>{{ event().title }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="event-details">
        <div><strong>Time:</strong>{{ event().time | date : "medium" }}</div>
        <div><strong>Location:</strong> {{ event().location }}</div>
        <div>
          <strong>Participants:</strong> {{ event().participants.length }} /
          {{ event().max }}
        </div>
        @if(event().info){
        <div><strong>Info:</strong> {{ event().info }}</div>
        }
      </div>

      <mat-divider></mat-divider>
      <mat-form-field appearance="outline" class="comment-box">
        <textarea
          matInput
          placeholder="Add a comment"
          #komment
          ngModel
          (focus)="onShowBtn(true)"
          (blur)="onShowBtn(false)"
          cdkAutosizeMinRows="5"
        ></textarea>
        @if(showBtn){
          <button  mat-button (click)="onAddKomment($event)">
            Add comment
          </button>
        }
      </mat-form-field>

      <mat-list class="comment-list">
        @for(komment of komments(); track komment.id){
        <mat-list-item class="comment-item">
          <strong>{{ komment.userName }}</strong>
          <br />
          <i>{{ komment.timestamp | timeText : "since" }}</i>
          <p class="comment-text">{{ komment.text }}</p>
        </mat-list-item>
        }
      </mat-list>

      <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-actions class="event-actions">
      @if(joined()){
      <button mat-button  (click)="onLeave()">
        Leave event
      </button>
      }@else{
      <button mat-button (click)="onJoin()">
        Join event
      </button>
      } @if(userId === event().ownerId){
      <button mat-button (click)="onDelete()">
        Delete event
      </button>
      }
    </mat-card-actions>
  </mat-card>
</dialog>
