<label>Your upcoming events</label>
@for(event of events(); track event.id){
    <app-event (click)="onDetails()"  [event]="event"/>
    @if(openDetails){
        <app-event-details (closeDialog)="onDetails()" [event]="event"></app-event-details>
    }
}
<label>Other events</label>
@for(event of events(); track event.id){
    <app-event (click)="onDetails()"  [event]="event"/>
    @if(openDetails){
        <app-event-details (closeDialog)="onDetails()" [event]="event"></app-event-details>
    }
}
<button (click)="onCreateEvent()">New event</button>
@if(openForm){
    <app-event-form (closing)="onCloseForm()"/>
}