<div class="container">
  <google-map
    #map
    class="map"
    [height]="null"
    [width]="null"
    [center]="possibleMarkerPosition()"
    [zoom]="zoom()"
    [options]="mapOptions"
    (mapClick)="onMapClick($event)"
  >
    @for (event of events(); track event.id) {
    <map-marker
      #markerElem="mapMarker"
      [position]="event.latLng"
      [options]="markerOptions"
      (mapClick)="onMarkerClick(markerElem)"
    />
    } 
    @if(currentPosition){
    <map-marker
      #markerElem="mapMarker"
      [position]="currentPosition"
      [options]="markerOptions"
      (mapClick)="onMarkerClick(markerElem)"
    />
    }
    <map-marker
      #markerElem="mapMarker"
      [position]="possibleMarkerPosition()"
      [options]="markerOptions"
      (mapClick)="onMarkerClick(markerElem)"
    />
  </google-map>
</div>
