  .map{
   height:100%;
   z-index:0;

  }
  button{
    position:absolute;
    bottom:50px;
    right:50px;
    transform:scale(2);
  }
  
@media (max-width: 600px) {
  .container{
    height: 50vh;
  button{
    bottom:80px;
  } 
 }
}