<div (click)="closeDialog()" class="backdrop"></div>
<dialog open class="event-dialog" @slideDown>
  <mat-card class="event-card">
    <mat-card-header>
      <mat-card-title>{{ event().title }}</mat-card-title>
      <button mat-icon-button  (click)="closeDialog()"><mat-icon>cancel</mat-icon></button>
    </mat-card-header>

    <mat-card-content>
      <div class="event-details">
        <div><strong>Starts:</strong> {{ event().time | date:"MMM dd, hh:mm a"  }}</div>
        @if(event().endTime !==event().time){
          <div><strong>Ends:</strong> {{ event().endTime | date:"MMM dd, hh:mm a"  }}</div>
        }
        <div><strong>Location:</strong> {{ event().location }}</div>
        <div>
          <strong>Participants:</strong> {{ event().participants ?event().participants.length:"unknown"}}{{event().max>0? "/"+event().max : ""}}
          <br>
          <span>
          @for(user of event().participants; track user.id; let last = $last){
            {{user.name}}@if(!last){, }
          }
        </span>
        </div>
        @if(event().info){
        <div><strong>Info:</strong> {{ event().info }}</div>
        }
      </div>

      <mat-divider></mat-divider>
      <mat-form-field appearance="outline" class="comment-box">
        <textarea matInput #komment class="comment-area" ngModel (focus)="onShowCommentBtn(true)"
          (blur)="onShowCommentBtn(false)" cdkAutosizeMinRows="5"></textarea>
          <button class="comment-btn" [disabled]="!showCommentBtn" mat-button (click)="onAddKomment($event)">
            Add comment
          </button>
        </mat-form-field>

      <mat-list class="comment-list">
        @for(komment of komments(); track komment.id){
        <mat-list-item class="comment-item">
          <strong>{{ komment.userName }}</strong>

          <i>{{ komment.timestamp | timeText : "comment" }}</i>
          <p class="comment-text">{{ komment.text }}</p>
        </mat-list-item>
        }
      </mat-list>

    </mat-card-content>

    <mat-card-actions class="event-actions">
      @if(user().id === event().ownerId){
      <button class="delete-btn" mat-flat-button (click)="onDelete()">
        Delete event
      </button>
      }
      @if(joined){
      <button class="leave-btn" mat-raised-button (click)="onLeave()">
        Leave event
      </button>
      }@else if(event().max==0 || event().max>event().participants.length){
      <button class="join-btn" mat-raised-button (click)="onJoin()">
        Join event
      </button>
      }
    </mat-card-actions>
  </mat-card>
</dialog>