<div (click)="closeDialog()" class="backdrop"></div>
<dialog open class="event-dialog" @slideDown>
  <mat-card class="event-card">
    <mat-card-header>
      <mat-card-title>{{ event().title }}</mat-card-title>
      @if(event().recurring !='never'){
        <mat-card-subtitle>{{event().recurring}} event</mat-card-subtitle>
      }
      <button mat-icon-button  (click)="closeDialog()"><mat-icon>cancel</mat-icon></button>
    </mat-card-header>
    <br>
    <mat-card-content>
      <div class="event-details">
        <div class="time">
          <div><strong>starts:</strong> {{ event().time | date:"MMM dd, hh:mm a"  }}</div>
          @if(event().endTime !==event().time){
            <div><strong>ends:</strong> {{ event().endTime | date:"MMM dd, hh:mm a"  }}</div>
          }
        </div>
        <div class="location"><strong>location:</strong> {{ event().location }}</div>
        <div class="clickable-text" (click)="toggleLocationPopup()">
          wrong location?
        </div>
        <div class="participants">
          <strong>participants:</strong> {{ event().participants ?event().participants.length:"unknown"}}{{event().max>0? "/"+event().max : ""}}
      
          <br>
          <span>
          @for(user of event().participants; track user.id; let last = $last){
            <img class="avatar" [src]="user.avatarUrl" alt="no img :*("  [matTooltip]="user.name" matTooltipShowDelay="500"/> 
          }
        </span>
        </div>
        @if(event().info){
        <div class="additional-info"><strong>info:</strong> {{ event().info }}</div>
        }
      </div>

      <mat-form-field appearance="outline" class="comment-box">
        <textarea matInput #komment class="comment-area" ngModel (focus)="onShowCommentBtn(true)"
          (blur)="onShowCommentBtn(false)" cdkAutosizeMinRows="5"></textarea>
          <button class="comment-btn" [disabled]="!showCommentBtn" mat-button (click)="onAddKomment($event)">
            add comment
          </button>
        </mat-form-field>

      <mat-list class="comment-list">
        @for(komment of komments(); track komment.id){
        <mat-list-item class="comment-item">
            <img class="avatar" [src]="komment.userAvatarUrl" alt="no img :*("/>
            <strong>{{ komment.userName }}</strong>
            <i>{{ komment.timestamp | timeText : "comment" }}</i>
            <p class="comment-text">{{ komment.text }}</p>
        </mat-list-item>
        }
      </mat-list>

    </mat-card-content>

    <mat-card-actions class="event-actions">
      @if(joined){
      <button class="leave-btn" mat-raised-button (click)="onLeave()">
        leave event
      </button>
      }@else if(event().max==0 || event().max>event().participants.length){
      <button class="join-btn" mat-raised-button (click)="onJoin()">
        join event
      </button>
      }
      @if(user().id === event().ownerId){
        <!-- <button class="update-btn" mat-raised-button (click)="onUpdate()">
          update event
        </button> -->
        <button class="delete-btn" mat-flat-button (click)="onDelete()">
          delete event
        </button>
        }
    </mat-card-actions>
  </mat-card>
</dialog>
@if(showLocationInfo){
  <app-location-info  (close)="toggleLocationPopup()"></app-location-info>
}