<div (click)="closeDialog()" class="backdrop"></div>
<dialog open class="event-dialog" cdkDrag>
  <mat-card class="event-card">
    <mat-card-header>
      <mat-card-title>{{ event().title }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="event-details">
        <div><strong>Time:</strong>{{ event().time | date : "medium" }}</div>
        <div><strong>Location:</strong> {{ event().location }}</div>
        <div>
          <strong>Participants:</strong> {{ event().participants ? event().participants.length:"unknown" }} /
          {{ event().max }}
        </div>
        @if(event().info){
        <div><strong>Info:</strong> {{ event().info }}</div>
        }
      </div>

      <mat-divider></mat-divider>
      <mat-form-field appearance="outline" class="comment-box">
        <textarea
          matInput
          placeholder="Add a comment"
          #komment
          class="comment-area"
          ngModel
          (focus)="onShowCommentBtn(true)"
          (blur)="onShowCommentBtn(false)"
          cdkAutosizeMinRows="5"
        ></textarea>
        @if(showCommentBtn){
          <button class="comment-btn"  mat-button (click)="onAddKomment($event)">
            Add comment
          </button>
        }
      </mat-form-field>

      <mat-list class="comment-list">
        @for(komment of komments(); track komment.id){
        <mat-list-item class="comment-item">
          <strong>{{ komment.userName }}</strong>
          <br />
          <i>{{ komment.timestamp | timeText : "comment" }}</i>
          <p class="comment-text">{{ komment.text }}</p>
        </mat-list-item>
        }
      </mat-list>

      <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-actions class="event-actions">
      @if(user().id === event().ownerId){
        <button class="delete-btn" mat-button color="warn" (click)="onDelete()">
          Delete event
        </button>
        }
      @if(joined){
      <button class="leave-btn" mat-button  (click)="onLeave()">
        Leave event
      </button>
      }@else if(event().max>event().participants.length){
      <button class="join-btn" mat-button (click)="onJoin()">
        Join event
      </button>
      }
    </mat-card-actions>
  </mat-card>
</dialog>
