.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 21;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  mat-card-title {
    font-weight: bold;
  }
  mat-icon {
    cursor: pointer;
  }
}

.event-card {
  box-shadow: none;
  background: transparent;

  button {
    font-weight: bold;
  }

  .clickable-text {
    text-align: right;
    font-size: 10px;
    height: 0;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .comment-box {
    width: 100%;
  }

  .time {
    display: flex;
    justify-content: space-between;
  }

  .avatar {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    margin-right: 5px;
  }
  .comment-list {
    overflow: auto;
    max-height: 250px;

    .comment-item {
      height: auto;


      i {
        font-size: 12px;
        float: right;
      }

      .avatar {
        width: 20px;
        height: 20px;
        border-radius: 10px;
      }

      .comment-text {
        text-wrap: wrap;

      }
    }
  }

  .event-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}
