.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 21;
  background-color: rgba(0, 0, 0, 0.5);
}

.event-dialog {
  max-width: 30rem;
  background-color: var(--transparent-white);
  border-radius: 6px;
  border: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  top:50px;
  left:auto;
  margin-right:50px;
  padding: 1rem;
  z-index: 22;

  .event-card {
    box-shadow:none;
    background-color: var(--transparent-white);

    .event-details {
      margin-bottom: 16px;
    }

    .comment-box {
      width: 100%;
      margin-bottom: 16px;

      button{
        float: right; 
      }
    }
    
    .comment-list {
      overflow: auto;
      max-height: 250px;

      .comment-item {
        height: auto;
        color:black;

        .comment-text {
          text-wrap: wrap;
          color:black;
          
        }
      }
    }

    .event-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
    }
  }
}
@media (max-width: 768px) {
  .event-dialog{
    max-width: 20rem;
    margin: 0 auto;
  }
}
