<mat-card appearance="outlined" class="event">
  <mat-card-header>
    <mat-card-title>
      {{ event().title }}
    </mat-card-title>
  </mat-card-header>
    <div class="event-info">
      <div class="info-item"  [matTooltip]="event().time|date : 'medium'" matTooltipShowDelay="1000">
        <span>{{event().time | timeText: 'event'}}</span>
        <mat-icon >schedule</mat-icon>
      </div>
      <div class="info-item"   [matTooltip]="event().location"  matTooltipShowDelay="1000">
        <span>{{event().distance | distanceFormat}}</span>
        <mat-icon
        class="find-marker-icon"
        (click)="onFindMarker($event)"
        fontIcon="not_listed_location"
      ></mat-icon>
      </div>
      <div class="info-item"  matTooltip="Participation" matTooltipShowDelay="1000">
        <span>{{event().participants.length}}/{{event().max}}</span>
        <mat-icon>people</mat-icon>
      </div>
    </div>
  <div>
  </div>

  @if(uuid==event().ownerId){
    <mat-icon matTooltip="You created this event" matTooltipShowDelay="1000" class="owner-icon" fontIcon="copyright"></mat-icon>
  }
</mat-card>
