.body {
  position: relative;
  height: 94vh;
  flex-grow: 1;
  overflow-y: hidden;

  app-event-sidebar {
    position: absolute;
    width: 25rem;
    z-index: 20;
  }

  app-filter {
    position: absolute;
    width: 20rem;
    left: 26rem;
    z-index: 10;
    border-radius: 15px;
  }

  app-map {
    flex-grow: 1;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .body {
    app-event-sidebar {
      width: 12rem;
    }
    app-filter {
      width: 11rem;
      left: 12rem;
    }
  }
}

@media (max-width: 400px) {
  .body {
    app-filter {
      width: 9rem;
    }
  }
}
