<div class="body">
  <app-header></app-header>
 
  <app-event-sidebar></app-event-sidebar>
  @if(showMap()){ @defer{
  <app-map />
  } } @if(state.showEventForm()){
  <app-event-form @dumbParent></app-event-form>
  } @if(state.showEventDetails()){
  <app-event-details @dumbParent></app-event-details>
  } @if(state.isEventUpdating()){
  <app-event-modify @dumbParent></app-event-modify>
  }@if(state.showLogin()){
    <app-dialog (onClose)="state.toggleLogin()" @dumbParent>
      <app-login/>
    </app-dialog>
  }@if(state.showRegister()){
    <app-dialog (onClose)="state.toggleRegister()" @dumbParent>
      <app-register/>
    </app-dialog>
  }
  @if(state.showUserSettings()){
    <app-dialog (onClose)="state.toggleUserSettings()" @dumbParent>
      <app-user-settings/>
    </app-dialog>
  }
  <app-floating-action-btn></app-floating-action-btn>
</div>
