.event-dialog {
  display: flex;
  flex-direction: column;
  width:25rem;
  background: var(--transparent-white);
  top:0;
  left:auto;
  border-radius: 6px;
  border: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  z-index: 23;

.event-card{
  box-shadow: none;
  background-color: var(--transparent-white);

  h4 {
    text-align: center;
    margin-bottom: 1rem;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 10px;
  }

  .field-group {
    display: flex;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}
  .hidden{
    display:none !important;
  }
}

@media (max-width: 768px) {
  .event-dialog {
    height: 100vh; /* Fallback */
    width:100vw; /* Fallback */
    width: -webkit-fill-available;
    height: -webkit-fill-available;
 
  }
  .fit-height{
    height:fit-content;
  }
}
