<dialog
  open
  class="event-dialog"
  [class]="{ 'fit-height': locationSelectMode }"
  @slideDown>
  <mat-card class="event-card">
    <mat-card-header>
      <mat-card-title [class]="{ hidden: locationSelectMode }">new event</mat-card-title>
      <button mat-icon-button  (click)="onClose()"><mat-icon>cancel</mat-icon></button>
    </mat-card-header>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="field-group" [class]="{ hidden: locationSelectMode }">
        <mat-form-field appearance="outline">
          <mat-label for="title">Title</mat-label>
          <input
            matInput
            required
            id="title"
            name="title"
            ngModel
            #title="ngModel"/>
          <mat-error>Title is invalid</mat-error>
        </mat-form-field>
      </div>
      <div class="field-group">
        <mat-form-field appearance="outline">
          <mat-label for="location">Location</mat-label>
          <input
            readonly
            #locationInput
            matInput
            required
            [ngModel]="markerAddress()"
            #location="ngModel"
            name="location"
            (focus)="toggleLocationSelect()"/>
          @if( location.invalid && (location.dirty || location.touched)){
          <mat-error>Invalid address</mat-error>}
        </mat-form-field>
      </div>

      <div class="field-group" [class]="{ hidden: locationSelectMode }">
        <mat-form-field appearance="outline">
          <mat-label for="date">Starts</mat-label>
          <input
            matInput
            required
            [min]="minDate"
            [matDatepicker]="picker"
            id="date"
            name="date"
            (dateChange)="checkEndTimeHours()"
            [(ngModel)]="startDate"
            #date="ngModel"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>Date is invalid</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-select
            (selectionChange)="checkEndTimeHours()"
            [(value)]="selectedTime">
            @for (time of times; track time) {
            <mat-option [value]="time">{{ time }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      @if(isEndTime){
      <div class="field-group" [class]="{ hidden: locationSelectMode }">
        <mat-form-field appearance="outline">
          <mat-label for="end-date">Ends</mat-label>
          <input
            matInput
            [min]="startDate"
            [matDatepicker]="picker"
            (dateChange)="checkEndTimeHours()"
            id="endDate"
            name="endDate"
            [(ngModel)]="endingDate"
            #endDate="ngModel"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>Date is invalid</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-select   (selectionChange)="updateDuration()" [(value)]="selectedEndTime">
            @for (time of endTimes; track time) {
            <mat-option [value]="time">{{ time }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      }
      <div
        class="toggle-end-btn"
        [class]="{ hidden: locationSelectMode }"
        (click)="toogleEndTime()"
      >
        {{ isEndTime ? "Remove end date and time" : "Add end date and time" }}
      </div>

      <div class="field-group" [class]="{ hidden: locationSelectMode }">
        <mat-form-field appearance="outline">
          <mat-label for="min">Minimum People</mat-label>
          <input
            matInput
            required
            type="number"
            id="min"
            name="min"
            min="2"
            [(ngModel)]="minPeople"
            #min="ngModel"
          />
          @if (min.invalid && (min.dirty || min.touched)){
          <mat-error>At least 2 people are required</mat-error>}
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="max">Maximum People</mat-label>
          <input
            matInput
            type="number"
            id="max"
            name="max"
            [min]="minPeople || 2"
            ngModel
            #max="ngModel"
          />
          @if (max.invalid && (max.dirty || max.touched)){
          <mat-error>That's too few</mat-error>}
        </mat-form-field>
      </div>

      <mat-form-field
        appearance="outline"
        [class]="{ hidden: locationSelectMode }"
      >
        <mat-label for="info">Additional Information</mat-label>
        <textarea matInput id="info" name="info" ngModel></textarea>
      </mat-form-field>

      <mat-checkbox [(ngModel)]="repeats" name="isRepeat">Repeats</mat-checkbox>
      @if(repeats){
      <div class="field-group" [class]="{ hidden: locationSelectMode }">
        <mat-radio-group
          class="radio-group"
          name="recurring"
          ngModel
          #recurring="ngModel"
        >

          <mat-radio-button value="daily" [disabled]="durationInDays > 1"
            >Daily</mat-radio-button
          >
          <mat-radio-button value="weekly" [disabled]="durationInDays > 7"
            >Weekly</mat-radio-button
          >
          <mat-radio-button value="monthly" [disabled]="durationInDays > 28"
            >Monthly</mat-radio-button
          >
        </mat-radio-group>
      </div>
      } @if(locationSelectMode){
      <mat-card-actions class="actions">
        <button mat-raised-button type="button" (click)="onClose()">
          Cancel
        </button>
        <button
          mat-flat-button
          type="button"
          (click)="toggleLocationSelect()"
          class="bold"
        >
          Ok
        </button>
      </mat-card-actions>
      }@else{
      <mat-card-actions class="actions">
        <button mat-raised-button type="button" (click)="onClose()">
          Cancel
        </button>
        <button
          mat-flat-button
          type="submit"
          class="bold"
          [disabled]="form.invalid"
        >
          Create
        </button>
      </mat-card-actions>
      }
    </form>
  </mat-card>
</dialog>
