<dialog
  open
  class="event-dialog"
  [class]="{ 'fit-height': locationSelectMode }"
  @slideDown>
  <mat-card class="event-card">
    @if(loading){
      <div class="form-backdrop">
        <div class="spinner-container">
          <mat-spinner></mat-spinner></div>
        </div>
    }
    @if(!locationSelectMode){
    <mat-card-header>
      <mat-card-title>new event</mat-card-title>
      <button mat-icon-button  (click)="onClose()"><mat-icon>cancel</mat-icon></button>
    </mat-card-header>
  }
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="field-group" [class]="{ hidden: locationSelectMode }">
        <mat-form-field appearance="outline">
          <mat-label for="title">title</mat-label>
          <input
            matInput
            required
            id="title"
            name="title"
            [(ngModel)]="defaultTitle"
            #title="ngModel"/>
          <mat-error>Title is invalid</mat-error>
        </mat-form-field>
      </div>
      @if(locationSelectMode){
        <div class="clickable-text" (click)="toggleOSMInfo()">wrong location?</div>
      }
      <app-location-field (locationSelect)="setLocationMode(true)" />
      @if(!locationSelectMode){
        <app-time-field (durationInDays)="updateDurationInDays($event)"/>
      }
      <div class="field-group" [class]="{ hidden: locationSelectMode }">
        <mat-form-field appearance="outline">
          <mat-label for="min">minimum People</mat-label>
          <input
            matInput
            required
            type="number"
            id="min"
            name="min"
            min="2"
            [(ngModel)]="minPeople"
            #min="ngModel"
          />
          @if (min.invalid && (min.dirty || min.touched)){
          <mat-error>At least 2 people are required</mat-error>}
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="max">maximum People</mat-label>
          <input
            matInput
            type="number"
            id="max"
            name="max"
            [min]="minPeople || 2"
            ngModel
            #max="ngModel"
          />
          @if (max.invalid && (max.dirty || max.touched)){
          <mat-error>That's too few</mat-error>}
        </mat-form-field>
      </div>

      <mat-form-field
        appearance="outline"
        [class]="{ hidden: locationSelectMode }"
      >
        <mat-label for="info">additional information</mat-label>
        <textarea matInput id="info" name="info" ngModel></textarea>
      </mat-form-field>

      <mat-checkbox  [class]="{ hidden: locationSelectMode }" [(ngModel)]="repeats" name="isRepeat">Repeats</mat-checkbox>
      @if(repeats){
      <div class="field-group" [class]="{ hidden: locationSelectMode }">
        <mat-radio-group
          class="radio-group"
          name="recurring"
          ngModel
          #recurring="ngModel">
          <mat-radio-button value="daily" [disabled]="durationInDays> 1">daily</mat-radio-button>
          <mat-radio-button value="weekly" [disabled]="durationInDays> 7">weekly</mat-radio-button>
          <mat-radio-button value="monthly" [disabled]="durationInDays> 28">monthly</mat-radio-button>
        </mat-radio-group>
      </div>
      } 
      <mat-card-actions class="actions">
      @if(locationSelectMode){
        <button
          mat-flat-button
          type="button"
          (click)="setLocationMode(false)"
          class="bold">
          ok
        </button>
      }@else{
        <button mat-raised-button type="button" (click)="onClose()" class="bold">
          cancel
        </button>
        <button
          mat-flat-button
          type="submit"
          class="bold"
          [disabled]="form.invalid">
          create
        </button>
      }
    </mat-card-actions>
    </form>
  </mat-card>
</dialog>
@if(showOSMInfo){
  <app-location-info  (close)="toggleOSMInfo()"></app-location-info>
}