.filters {
  padding: 5px;
  background: var(--main-color);

  .row{
    display: flex;

    .group {
      display: flex;
      flex: 1;
      align-items: center;
   
      gap:5px;
      strong,
      mat-icon {
        cursor: pointer;
      }
    }
    .slider-group{
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
  }
}
@media (max-width: 768px) {
  .row{
    flex-direction: column;
    row-gap:5px;
  }
  .sort-by {
    display: none;
  }
}
