<div class="filters">
  <!-- Row 1: Labels -->
  <div class="labels-row">
    <div class="label">Sort by</div>
    <div class="label">Show full events</div>
    <!-- <div class="label">Max distance</div> -->
  </div>

  <!-- Row 2: Controls -->
  <div class="controls-row">
    <!-- Sort by -->
    <div class="control">
      <div>
        @if(sortType() ==='Time'){
        <mat-icon style="cursor:pointer" matTooltip="Sort by time" matTooltipShowDelay="500"  [matMenuTriggerFor]="menu">watch_later</mat-icon>
        <mat-icon style="cursor:pointer" (click)="toggleSortDirection()">{{
          sortDirection()==='asc' ? "arrow_drop_up" : "arrow_drop_down"
        }}</mat-icon>
        }@else{
        <mat-icon style="cursor:pointer" matTooltip="Sort by distance" matTooltipShowDelay="500"  [matMenuTriggerFor]="menu">place</mat-icon>
        <mat-icon style="cursor:pointer" (click)="toggleSortDirection()">{{
          sortDirection()==='asc' ? "arrow_drop_up" : "arrow_drop_down"
        }}</mat-icon>
        }
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="sortByDistance()">
          <mat-icon>place</mat-icon>
          <span>Distance</span>
        </button>
        <button mat-menu-item (click)="sortByTime()">
          <mat-icon>watch_later</mat-icon>
          <span>Time</span>
        </button>
      </mat-menu>
    </div>
    <!-- Toggle full events -->
    <div class="control">
      <mat-slide-toggle
      matTooltip="Show full events" matTooltipShowDelay="500"
        checked
        (change)="toggleFullEvents()"
      ></mat-slide-toggle>
    </div>
    <!-- Check distance -->
    <!-- <div class="control">
     <mat-slider min="0" max="500" step="1" showTickMarks discrete [displayWith]="formatLabel">
  <input matSliderThumb>
</mat-slider>
    </div> -->
  </div>
</div>
