.filters{
    display:flex;
    padding:5px;
    background:var(--transparent-white);

    .group{
        display:flex;
        flex:1;
        align-items:center;
        .sort-by-btn{
            color:black;
        }
        strong, mat-icon{
            cursor:pointer;
        }
    }
}
@media (max-width: 768px) {
    .sort-by-btn{
        display:none;
    }
}