<div class="container">
  <app-header
    (toggleSideBar)="toggleSideBar()"
    (toggleFilter)="toggleFilter()"
  ></app-header>
  <div class="body">
    <div class="event-sidebar" [class.hidden]="!showSideBar || !areEventsLoaded()">
      <app-event-sidebar></app-event-sidebar>
    </div>
    <div class="filter-container" [class.hidden]="!showFilter" >
      <app-filter></app-filter>
    </div>
    @if(showMap){ @defer{<app-map />} }
    @if(isFormOpen()){
    <app-event-form></app-event-form>
    } @if(selectedEvent().id){
    <app-event-details></app-event-details>
    }
  </div>

</div>