.container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .body {
    position: relative;
    flex-grow: 1;
    .sidebar {
      position: absolute;
      width: 25rem;
      transition: transform 0.3s ease;
      z-index: 20;
    }
    app-map {
      flex-grow: 1;
      height: 100%;
    }
    .hidden {
      transform: translateX(-100%);
    }
  }
}
@media (max-width: 768px) {
  .container {
    .body {
      .sidebar {
        width: 15rem;
      }
    }
  }
}
