.container {
  app-header {
    height: 60px;
  }

  .body {
    display: flex;
    flex-grow: 1;
    height: calc(100vh - 60px);

    .sidebar{
      width: 25rem;
      padding:5px;
    }
    app-map {
      flex-grow: 1; /* The map will take up the remaining space */
      height: 100%;
    }
  }
}

@media (max-width: 600px) {
  .body {
    display: flex;
    app-event-sidebar{
      display: none !important;
    }
  }
 
}
