.container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;

  app-header{
    z-index:100;
  }
  .body {
    position: relative;
    flex-grow: 1;

    .event-sidebar{
      position: absolute;
      width: 25rem;
      transition: transform 0.3s ease;
      z-index: 20;

      &.hidden {
        transform: translateY(-100%);
      }
    }
    .filter-container {
      position: absolute;
      width:20rem;
      left: 26rem;
      transition: transform 0.3s ease;
      z-index: 10;
      border-radius: 15px;

      &.hidden {
        transform: translatey(-100%);
      }
    }
    app-map {
      flex-grow: 1;
      height: 100%;
    }
    app-event-form{
      transition: transform 0.3s ease;
      transform: translatey(-100%);
    
    }
    app-event-details{
      transition: transform 0.3s ease;
      &.hidden {
        transform: translatey(-100%);
      }
    }
   
  }
}
@media (max-width: 768px) {
.container{
    .body {
      .event-sidebar {
        width: 12rem;
      }  
      .filter-container{
        left:auto;
        right:0;
        width: 11rem;
      }
    }
  }
}
@media (max-width: 360px) {
  .container{
      .body {
        .event-sidebar {
          width: 12rem;
        }  
        .filter-container{
          left:auto;
          right:0;
          width: 9rem;
        }
      }
    }
  }
