<mat-card>
  <mat-card-content>
    <form class="form" #form="ngForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label for="password">new password</mat-label>
        <input
          matInput
          required
          name="password"
          [(ngModel)]="password"
          type="password"
          minlength="4"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label for="password2">new password again</mat-label>
        <input
          matInput
          required
          name="password2"
          [(ngModel)]="password2"
          type="password"
          minlength="4"
        />
      </mat-form-field>
      @if(password2!==password && form.controls['password2'].touched &&
      form.controls['password2'].dirty) {
      <mat-error>passwords do not match</mat-error>
      }
    </form>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button
      mat-flat-button
      (click)="onSubmit()"
      class="bold"
      [disabled]="form.invalid">
      Reset Password
    </button>
  </mat-card-actions>
</mat-card>
<mat-error>{{ message }}</mat-error>
@if(isTokenValid){
<p>Redirecting in {{ countdown }} seconds...</p>
}
