<mat-card class="settings-card">
    <mat-card-title>Settings</mat-card-title>
  
    <mat-card-content>
  
      <section class="avatar-section">
        <img [src]="temporaryAvatar()" alt="avatar" class="avatar-preview" />
        <app-avatar-list (avatarSelected)="changeAvatar($event)"></app-avatar-list>
        <button mat-raised-button color="primary" (click)="confirmAvatarChange()">Change avatar</button>
      </section>
  
      <section class="password-section">
        <form (ngSubmit)="changePassword()">
          <div class="passwords">
          <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput type="password" [(ngModel)]="password" name="password" required minlength="6" />
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required minlength="6" />
          </mat-form-field>
        </div>
          <button mat-flat-button color="accent" type="submit" [disabled]="!canSubmitPassword()">Change Password</button>
        </form>
      </section>
  
    </mat-card-content>
  </mat-card>
