.event {
  display: flex;
  width: 25rem;
  flex-direction: column;
  border-radius: 0;
  transition: background-color 0.3s ease;
  z-index: 5;
  color:var(--app-on-primary-container);
  cursor: pointer;
  &:hover {
    background-color: var(--app-inverse-primary);
  }

  .header {
    display: flex;
    flex-direction: row;
  }

  .event-info {
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;

    .info-item {
      display: flex;
      align-items: center;

      mat-icon {
        font-size: 1.5rem;
        place-content: center;
      }
    }
    .last-item {
      justify-content: right;
    }
  }

  mat-card-title{
    overflow-wrap:anywhere;
  }

  mat-card-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    align-items: center;

    .find-marker-icon {
      font-size: 1.5rem;
      color: black;
      cursor: pointer;
      transition: color 0.2s;
      &:hover {
        color: #8eaccd;
      }
    }
  }
  .owner-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .event {
    width: 12rem;
    height: auto;
    .event-info {
      display: flex;
      flex-direction: column;

      .last-item {
        justify-content:unset;
      }
    }
  }
}
