.avatar-grid {
  display: grid;
  grid-template-columns: repeat(6, 57px); /* 8 fixed columns */
  gap: 8px;
  max-height: calc(50px * 2 + 8px); /* 2 rows + gap */
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  border: 1px solid;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s, border 0.2s;
  border: 2px solid transparent;

  &:hover{
    transform: scale(1.1);
  }
}

@media (max-width: 768px) {
  .avatar-grid {
    grid-template-columns: repeat(4, 57px);
  }
}

@media (max-width: 400px) {
  .avatar-grid {
    grid-template-columns: repeat(3, 57px);
  }
}
