/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use "./style/_theme-colors.scss" as theme-colors;

:root {
  --app-primary: var(--mat-sys-primary);
  --app-primary-container: var(--mat-sys-primary-container);
  --app-on-primary-container: var(--mat-sys-on-primary-container);
  --app-on-primary: var(--mat-sys-on-primary);
  --app-surface: var(--mat-sys-surface);
  --app-on-surface: var(--mat-sys-on-surface);
  --app-error: var(--mat-sys-error);
  --app-on-error: var(--mat-sys-on-error);

    @include mat.snack-bar-overrides((
      container-color: var(--app-primary),
      supporting-text-weight:bold,
      supporting-text-size:1.1rem
    ));

//   @include mat.progress-spinner-overrides((
//     active-indicator-color: white,
//   ));
}

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% { transform: scale(.9); }
  100% { transform: scale(1); }
}

.mdc-snackbar__label{
  text-align:center;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--app-on-primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--app-primary);
}