/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

:root {
  --main-color: rgba(255, 255, 255, 0.8); 
  --secondary-color:rgb(214, 63, 98);
  --accent-color:#BA005C;

  @include mat.snack-bar-overrides((
    container-color: var(--secondary-color),
    supporting-text-color: white,
    supporting-text-weight:bold,
    supporting-text-size:1.1rem

  ));
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% { transform: scale(.9); }
  100% { transform: scale(1); }
}

.mdc-snackbar__label{
  text-align:center;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}